@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  min-width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
